{#include template.html}
	{#body}
		<h2>User Info {principal} - <a href="/logout" class="btn btn-warning btn-sm">Logout</a></h2>
		<hr/>
		<h3>Access Token</h3>
		<pre>
			<code>{accessToken}</code>
		</pre>
		<p>
			<a href="https://jwt.io/#debugger-io?token={rawAccessToken}" target="_blank" rel="noopener noreferrer" class="btn btn-info">
				Open in JWT.io
			</a>
		</p>
		<hr/>
		<h3>ID Token</h3>
		<pre>
			<code>{idToken}</code>
		</pre>
		<p>
			<a href="https://jwt.io/#debugger-io?token={rawIdToken}" target="_blank" rel="noopener noreferrer" class="btn btn-info">
				Open in JWT.io
			</a>
		</p>
		<hr/>
		<h3>User Info</h3>
		<pre>
			<code>{userInfo}</code>
		</pre>
	{/body}
{/include}
